//main background
$pure-white: #FFFFFF; //255 255 255

//search button background
$super-light-gray: #F8F8F8; //248 248 248
//video-index background
$lightest-gray: #F9F9F9; //249 249 249


//selected side nav, border lines
$light-gray: #E5E5E5; //229 229 229

//search bar border
$gray: #CCCCCC;

////CATEGORY NAV

//selected category nav, icon colors, font color for video index item text(except title)
$dark-gray: #555555; //96 96 96 
//unselected category nav background
$smoke-white: #F2F2F2; //242 242 242 
//unselected category nav border
$another-white: #D9D9D9; //217 217 217

$user-menu: #909090;


//LOGO
$red: #FF1513;

$dark-red: #CA0813;

//SIGN IN BUTTON
$blue: #0057C8;

//FROM SIGN IN BUTTON
$form-blue: #2376E5;

//login-border
$login-gray: #D8DADE
