html {
  position: relative;
  height: 100%
}

body {
  font-family: $roboto;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $pure-white;
}

svg {
  cursor: pointer;
  color: $dark-gray;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background: $p-green;
  border-radius: 18px;
  margin-right: 15px;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 300;
  cursor: pointer;
}

.row {
  display: flex;
}