html {
  position: relative;
  height: 100%
}

body {
  font-family: $roboto;
  font-size: 14px;
  box-sizing: border-box;
  background-color: $pure-white;
}

svg {
  cursor: pointer;
  color: $dark-gray;
}

.profile-icon {
  height: 35px;
  width: 35px;
  background: orange;
  border-radius: 18px;
}

.row {
  display: flex;
}