.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  height: 58px;
  padding: 0 16px;

  .left-nav {
    display: flex;
    align-items: center;

    .guide-icon {
      color: $dark-gray;
      margin: auto 16px auto 0;
      padding: 16px;
      height: 20px;
      width: 20px;
      cursor: pointer;
    }

    .home-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 22px;
      font-weight: 500;
      
      .logo-icon {
        color: $red;
        width: 30px;
        height: 30px;
      }
    }
  }

  #search-bar-form {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    width: 728px;
    height: 32px;
    margin: auto 0;
    padding: 0 20px;
  }

  .right-nav {
    margin: auto 0;
  }

  .right-nav > ul {
    display: flex;
    width: 250px;
    height: 40px;
    justify-content: space-between;
    // border: 1px red solid;
    
    li {
      margin: auto 0;
      // padding: 5px;
    }
  }

  #video-dropdown-btn,
  #apps-dropdown-btn {

    .video-drop-menu {
      display: none;
    }
  }
  

  
  
  #user-dropdown-btn {

    .users-drop-menu {
      display: none;
    }
  }
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  width: 18px;
  height: 18px;
  color: $dark-gray;
  cursor: pointer;
}

.signin-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px $blue solid;
  border-radius: 2px;
  color: $blue;
  cursor: pointer;
  font-size: 14px;
  font-weight: 450;
  width: 104px;
  height: 40px;
  text-align: center;

  :first-child {
    color: $blue;
    width: 60px;
    height: 60px;
  }

  :last-child {
    margin: 0 5px;
  }
}

