.main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  width: 100%;
  height: 58px;
  padding: 0 16px;
  background-color: $pure-white;
  z-index: 4;
  top: 0px;

 .profile-icon {
    margin-right: 0;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left-nav {
    display: flex;
    align-items: center;
    z-index: 100;
    .guide-icon {
      margin: auto 16px auto 0;
      padding: 9px;
      height: 20px;
      width: 20px;
    }

    .home-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 18px;
      font-weight: 700;
      
      .logo-icon {
        color: $red;
        width: 30px;
        height: 30px;
      }
    }
  }

  #search-bar-form {
    display: flex;
    width: 728px;
    height: 32px;
    margin: auto 0;
    padding: 0 20px;

    input {
      border: 1px solid $gray;
      padding: 0 12px;
      font-size: 16px;
      width: 576px;
    }

    .search-icon {
      border: 1px solid $gray;
      border-left: none;
      padding: 8px 26px;
      background-color: $super-light-gray;
    }
  }

  .right-nav {
    .right-nav {
      width: 300px;
      display: flex;
      justify-content: space-between;
    }
    ul {
      display: flex;
      width: 250px;
      height: 40px;
      justify-content: space-evenly;
    }

    li {
      margin: auto 0;
      // padding: 5px;
    }

    svg {
      overflow: visible;
      width: 25px;
      height: 25px;
    }
  }

  #video-dropdown-btn,
  #apps-dropdown-btn {

    .video-drop-menu {
      position: absolute;
      flex-direction: column;
      border: 1px $light-gray solid;
      border-top: none;
      width: 180px;
      height: auto;
      top: 87%;
      background-color: $pure-white;
      display: none;

      li {
        padding: 0 5px;
        display: flex;
        align-items: center;
        // border-bottom: 1px solid $light-gray;
        height: 40px;
        margin: 5px 0;
      }

      svg {
        width: 20px;
        height: 20px;
        padding: 0 15px;
      }

      li:hover {
        background-color: $super-light-gray;
      }
    }
  }
  

  
  
  #user-dropdown-btn {
    padding: 1px 6px;
    .users-drop-menu {
      position: absolute;
      left: 78%;
      border: 1px $light-gray solid;
      border-top: none;
      flex-direction: column;
      width: 300px;
      height: auto;
      background-color: $pure-white;
      color: $user-menu;

      .header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-gray;
        font-size: 16px;
        font-weight: 500;
        width: 300px;
        height: 82px;
        cursor: auto;
        color: black;

        .profile-icon {
          padding: 12px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
          margin-left: 10px;
          cursor: auto;
        }
        
        h4 {
          padding-left: 10px;
        }
      }

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;
        border-bottom: 1px $light-gray solid;
        height: 40px;
        padding: 0 12px;
        
        svg {
          width: 25px;
          height: 25px;
          margin-right: 12px;
        }
      } 

      li:hover {
        background-color: $super-light-gray;
      }

      li:last-child {
        border-bottom: none;
      }

      display: none;
    }
  }
}

.signin-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px $blue solid;
  border-radius: 2px;
  color: $blue;
  font-weight: 450;
  width: 104px;
  height: 40px;

  :first-child {
    color: $blue;
    width: 25px;
    height: 25px;
  }

  :last-child {
    margin: 0 5px;
  }
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
  width: 1.5em;
}

// // svg:not(:root).svg-inline--fa {
// //   overflow: visible;
// //   width: 1.5em;

// // }

// li > .settings-icon {
//   width: 1em;
// }