.signin-session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px auto 0;
  height: 504px;
  width: 450px;
  background: $pure-white;
  border: 1px $login-gray solid;
  border-radius: 10px;

  .home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    
    .logo-icon {
      color: $red;
      width: 30px;
      height: 30px;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // justify-content: center;
    align-items: center;

    h2 {
      font-size: 22px;
    }
  
    h4 {
      margin-top: 15px;
      font-weight: 400;
      font-size: 16px;
    }
  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $login-gray;
    width: 368px;
    height: 56px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      border: 2px solid $form-blue;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      margin-bottom: 4px;

      &:focus {
        border: 2px solid $form-blue;
      }
    }

    a {
      color: $form-blue;
      font-weight: 500;
    }

    button {
      background-color: $form-blue;
      border-radius: 5px;
      color: $pure-white;
      font-weight: 500;
      width: 88px;
      height: 36px;
      text-align: center;
    }
  }

  button {
    background-color: $form-blue;
    border-radius: 5px;
    color: $pure-white;
    font-weight: 500;
    width: 150px;
    height: 36px;
    text-align: center;
  }


  label {
    display: none;
  }

}


.signup-session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 6vh auto 0;
  width: 750px;
  height: 594px;
  background: $pure-white;
  border: 1px $login-gray solid;
  border-radius: 10px;
  padding-left: 32px;

  .home-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: -30px;
    
    .logo-icon {
      color: $red;
      width: 30px;
      height: 30px;
    }
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: -30px;

    h2 {
      font-size: 22px;
      font-weight: 500;
    }
  
    h4 {
      margin-top: 15px;
      font-weight: 400;
      font-size: 16px;
    }
  }

  input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $login-gray;
    width: 368px;
    height: 36px;
    margin: 15px 0;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 16px;

    &:focus {
      border: 2px solid $form-blue;
    }
  }

  label {
    display: flex;
    align-items: center;
    color: red;
    animation: shake 0.5s ease;

    svg {
      color: red;
      margin-right: 4px;
    }
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

    input {
      width: 180px;
      margin: 0;
      margin-bottom: 4px;
      
      &:focus {
        border: 2px solid $form-blue
      }
    }

    a {
      color: $form-blue;
      font-weight: 500;
    }

    button {
      background-color: $form-blue;
      border-radius: 5px;
      color: $pure-white;
      font-weight: 500;
      width: 88px;
      height: 36px;
      text-align: center;
    }
  }  
}

#email {
  margin-top: 0;
}

.error-message {
  text-align: center;
  margin: 0 9vw;
  color: $red;
  animation: shake 0.5s ease;
}

.session-container {
  display: flex;
  flex-direction: column;

  footer {
    display: flex;
    justify-content: flex-end;
    color: #757575;
    font-weight: 500;
    margin: 16px auto;
  }
  
  .signin-footer {
    width: 450px;

    * {
      margin: 0 15px
    }
  }

  .signup-footer {
    width: 750px;
  
    * {
      margin: 0 15px;
    }
  }
}

.signin-session-form, .signup-session-form {
  .errors {
    border: 2px solid $red;
  }
}


@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 50%, 90% {transform: translateX(-5px);}
	30%, 70% {transform: translateX(5px);}
}