.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $pure-white;
  width: 962px;
  height: 90%;
  border-radius: 6px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 24px;
  border-bottom: 1px solid $light-gray;

  h2 {
    font-size: 20px;
    font-weight: 500;
  }

  svg {
    width: 25px;
    height: 25px;
  }
}

.video-form {

  .upload-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16%;
  }

  .info-secton {
    
  }

  .upload-icon {
    width: 75px;
    height: 75px;
    color: $user-menu;
  }

  .blue-btn {
    background-color: $blue;
    color: $pure-white;
    border-radius: 2px;
    cursor: pointer;
    width: 20%;
    text-align: center;
    padding: 10px 0;
  }

  .save-btn {
    background-color: $blue;
    color: $pure-white;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    padding: 10px 16px;
  }

  .save-btn:disabled {
    background-color: $user-menu;
  }

  .upload-background {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 140px;
    height: 140px;
    border-radius: 70px;
    background-color: $smoke-white;
    margin-bottom: 25px;
  }

  h5 {
    font-size: 15px;
    margin-bottom: 6px;
  }

  h6 {
    font-size: 13px;
    margin-bottom: 30px;
    color: $dark-gray;
  }
}
