.video-index {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  border: 1px red solid;
  height: 100%;
  margin-top: 58px;
  margin-left: 72px;
  padding: 15px 24px;
  z-index: 0;
  background-color: $lightest-gray;


  li { 
    display: flex;
    flex-direction: column;
    width: 315px;
    height: 270px;
    border: 1px solid green;
    margin-right: auto;
    margin-bottom: 40px;
    padding: 0 5px;

    button {
      background-color: blue;
      width: 40px;
      height: 20px;
    }
  }

  .vid-thumbnail {
    width: 300px;
    height: 169px;
    margin: 0 auto;
  }
}
