.video-container {
  margin-left: 5%;
  margin-top: 58px;
  padding: 24px 16px 24px 0;
  width: 66vw;

  .screen {
    width: 66vw;
  }

  
  h1 {
    font-size: 18px;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    color: $dark-gray;
    
  }

  .video-nav, .info-box {
    padding: 20px 0 8px;

    .row {
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid $gray;
    }
  }

  .left-row {
    display: flex;
    align-items: center;
  }

  .right-row {
    width: 367px;
    font-weight: 500;

    .likes {
      border-bottom: 3px solid $dark-gray;
      display: flex;
      justify-content: space-between;
      width: 9vw;
      padding: 4px;

      .voted * {
        color: $form-blue
      }
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 376px;

      li {
        display: flex;
        align-items: center;
      }
    }
    svg {
      height: 25px;
      width: 25px;
      padding-right: 8px;
    }
  }

  .info-box {
    border-bottom: 1px solid $gray;
    padding-bottom: 20px;
    padding-top: 10px;

    .profile-icon {
      border-radius: 23px;
      margin-right: 18px;
    }

    h6 {
      font-weight: 500;
    }

    .row {
      padding-top: 0;
      border-bottom: none;
    }

    .description {
      padding-left: 62px;
      padding-right: 274px;
    }
  }
}

button.subscribe-btn {
  background-color: $dark-red;
  width: 108px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 2px;
}

.list-container {
  width: 34vw;
}

#list-index {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  margin-top: 66px;
  padding: 15px 0;
  z-index: 0;
  background-color: $lightest-gray;


  li { 
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
    padding: 0 5px;

    button {
      background-color: blue;
      width: 40px;
      height: 20px;
    }

    a {
      display: flex;
      flex-direction: row;
    }
  }

  .vid-thumbnail {
    width: 41%;
  }

  .profile-icon {
    display: none;
    margin-right: 12px;
  }
}

.video-title {
  font-weight: 500;
  margin-bottom: 6px;
}

.dot {
  margin: 0 4px;
}

.video-info {
  display: flex;
  margin-top: 12px;

  .info-box {
    margin-left: 6px;
  }
}

.main-container {
  display: flex;
}